In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('./kc-house-data.csv', encoding='1251')

In [8]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

Все столбцы датасета состоят из числовых типов данных (int64, float64), за
исключением столбца дата (тип данных object).
Таблица не содержит пустых ячеек.

In [36]:
data['price'].min(), data['price'].max()

(75000.0, 7700000.0)

In [11]:
data.describe()['price']

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [14]:
data['sqft_living'].mean()/data['sqft_lot'].mean()*100

13.76781757959227

In [15]:
data['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [16]:
data['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [17]:
data['yr_built'].min(), data['yr_built'].max()

(1900, 2015)

In [21]:
data[(data['bedrooms'] == 2)]['price'].mean()

401372.681884058

In [22]:
data[(data['price'] > 600000)]['sqft_lot'].mean()

20442.524776214832

In [23]:
data[(data['yr_renovated'] != 0)].shape[0]

914

In [25]:
data[(data['grade'] > 10)]['price'].mean() - data[(data['grade'] < 4)]['price'].mean()

1488885.1175298805

In [27]:
data[(data['waterfront'] == 1) & (data['bathrooms'] >= 3) & (data['sqft_basement'] != 0)].shape[0]

41

In [32]:
choice = data[((data['waterfront'] == 1) | (data['view'] == 4)) & (data['condition'] == 5) & (data['yr_built'] >= 1980)]
choice['price'].min(), choice['price'].max()

(1295000.0, 3000000.0)

In [35]:
condition = (data['sqft_basement'] == 0) & (data['floors'] == 2) & (data['price'] < 150000)
data[condition]['condition'].mean()

2.8333333333333335