In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./laptop_price.csv', encoding='1251')
df

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.00
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.00
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.00
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.00
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.00

## Задача 1
Скачать данные по ссылке https://www.kaggle.com/datasets/ionaskel/laptop-prices
Считать данные с помощью pandas
Вывести на экран первые 5 строк

1.1 Создать новый признак Cpu_Company, который будет содержать только название фирмы, которая произвела CPU (Intel, AMD и т.д)

1.2 Создать новый признак Memory_Amount, который будет содержать только количество Gb памяти без указания типа носителя (128, 1024, 256 и т.д.)

1.3 Создать новый признак Memory_Type, который будет содержать только тип носителя (HDD, SDD и т.д.)

1.4 Удалите признаки Memory и ScreenResolution

In [3]:
df.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [4]:
df['Cpu_Company'] = df['Cpu'].apply(lambda x: x.split()[0])

In [5]:
df.tail()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros,Cpu_Company
1298,1316,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,14.0,IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows 10,1.8kg,638.0,Intel
1299,1317,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,13.3,IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows 10,1.3kg,1499.0,Intel
1300,1318,Lenovo,IdeaPad 100S-14IBR,Notebook,14.0,1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows 10,1.5kg,229.0,Intel
1301,1319,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,15.6,1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows 10,2.19kg,764.0,Intel
1302,1320,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,15.6,1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows 10,2.2kg,369.0,Intel

In [6]:
def func(x):
    x = x.split()
    x = [item for item in x if ('GB' in item) or ('TB' in item)]
    for i in range(len(x)):
        if 'GB' in x[i]:
            x[i] = int(x[i].replace('GB', ''))
        else:
            x[i] = int(float(x[i].replace('TB',''))*1024)      
    return sum(x)

df['Memory_Amount'] = df['Memory'].apply(func)

In [7]:
df['Memory'].value_counts()

256GB SSD                        412
1TB HDD                          223
500GB HDD                        132
512GB SSD                        118
128GB SSD +  1TB HDD              94
128GB SSD                         76
256GB SSD +  1TB HDD              73
32GB Flash Storage                38
2TB HDD                           16
64GB Flash Storage                15
512GB SSD +  1TB HDD              14
1TB SSD                           14
256GB SSD +  2TB HDD              10
1.0TB Hybrid                       9
256GB Flash Storage                8
16GB Flash Storage                 7
32GB SSD                           6
180GB SSD                          5
128GB Flash Storage                4
512GB SSD +  2TB HDD               3
16GB SSD                           3
512GB Flash Storage                2
1TB SSD +  1TB HDD                 2
256GB SSD +  500GB HDD             2
128GB SSD +  2TB HDD               2
256GB SSD +  256GB SSD             2
512GB SSD +  256GB SSD             1
512GB SSD +  512GB SSD             1
64GB Flash Storage +  1TB HDD      1
1TB HDD +  1TB HDD                 1
32GB HDD                           1
64GB SSD                           1
128GB HDD                          1
240GB SSD                          1
8GB SSD                            1
508GB Hybrid                       1
1.0TB HDD                          1
512GB SSD +  1.0TB Hybrid          1
256GB SSD +  1.0TB Hybrid          1
Name: Memory, dtype: int64

In [8]:
def func1(x):
    x = x.replace('GB', '').replace('TB','').replace(' + ', ' ').replace('.', '').split()
    x = [x[i] for i in range(len(x)) if not x[i].isdigit()]
    return ' '.join(x)         
df['Memory_Type'] = df['Memory'].apply(func1)
df['Memory_Type'].value_counts()

SSD                  637
HDD                  374
SSD HDD              200
Flash Storage         74
Hybrid                10
SSD SSD                4
SSD Hybrid             2
Flash Storage HDD      1
HDD HDD                1
Name: Memory_Type, dtype: int64

In [9]:
df.drop(columns=['Memory', 'ScreenResolution'], inplace=True)

## Задача 2
2.1 Создайте признак SSD, который изначально равен 0

2.2 Поставьте в признаке SSD 1, если ноутбук действительно с типом носителя SSD

2.3 Уберите в признаке Weight значения 'kg' и поменяйте его тип данных на вещественный

In [10]:
df['SSD'] = 0
df.head()

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,1,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69,Intel,128,SSD,0
1,2,Apple,Macbook Air,Ultrabook,13.3,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94,Intel,128,Flash Storage,0
2,3,HP,250 G6,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00,Intel,256,SSD,0
3,4,Apple,MacBook Pro,Ultrabook,15.4,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45,Intel,512,SSD,0
4,5,Apple,MacBook Pro,Ultrabook,13.3,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60,Intel,256,SSD,0

In [11]:
df['Memory_Type'].value_counts()

SSD                  637
HDD                  374
SSD HDD              200
Flash Storage         74
Hybrid                10
SSD SSD                4
SSD Hybrid             2
Flash Storage HDD      1
HDD HDD                1
Name: Memory_Type, dtype: int64

In [12]:
df.loc[df['Memory_Type'].str.contains('SSD'), 'SSD'] = 1
df.sample(10)

,laptop_ID,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
309,314,HP,250 G6,Notebook,15.6,Intel Core i3 6006U 2GHz,4GB,Intel HD Graphics 520,Windows 10,1.86kg,469.0,Intel,1024,HDD,0
678,686,LG,Gram 15Z975,Ultrabook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Intel HD Graphics 620,Windows 10,1.09kg,2299.0,Intel,512,SSD,1
862,873,Toshiba,Portege X30-D-10X,Notebook,13.3,Intel Core i5 7200U 2.5GHz,4GB,Intel HD Graphics 620,Windows 10,1.05kg,1285.0,Intel,128,SSD,1
1137,1153,Dell,Inspiron 5567,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,AMD Radeon R7 M445,Windows 10,2.5kg,784.0,Intel,1024,HDD,0
879,890,HP,ProBook 450,Notebook,15.6,Intel Core i5 7200U 2.5GHz,4GB,Intel HD Graphics 620,Windows 10,2.04kg,839.0,Intel,256,SSD,1
902,914,Dell,XPS 13,2 in 1 Convertible,13.3,Intel Core i7 7Y75 1.3GHz,16GB,Intel HD Graphics 615,Windows 10,1.22kg,1649.0,Intel,256,SSD,1
897,909,HP,ProBook 450,Notebook,15.6,Intel Core i7 7500U 2.7GHz,8GB,Nvidia GeForce 930MX,Windows 10,2.04kg,900.0,Intel,1024,HDD,0
132,135,Acer,Swift 3,Ultrabook,14.0,Intel Core i7 8550U 1.8GHz,8GB,Intel UHD Graphics 620,Windows 10,1.6kg,884.0,Intel,256,SSD,1
800,809,HP,ZBook 17,Workstation,15.6,Intel Core i7 7700HQ 2.8GHz,8GB,Nvidia Quadro M2200,Windows 10,3.14kg,2064.9,Intel,256,SSD,1
1264,1282,Dell,Inspiron 3552,Notebook,15.6,Intel Celeron Dual Core N3050 1.6GHz,2GB,Intel HD Graphics,Windows 10,2.20kg,379.0,Intel,500,HDD,0

In [13]:
df['Weight'] = df['Weight'].str.replace('kg','').astype(float)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   laptop_ID      1303 non-null   int64
 1   Company        1303 non-null   object
 2   Product        1303 non-null   object
 3   TypeName       1303 non-null   object
 4   Inches         1303 non-null   float64
 5   Cpu            1303 non-null   object
 6   Ram            1303 non-null   object
 7   Gpu            1303 non-null   object
 8   OpSys          1303 non-null   object
 9   Weight         1303 non-null   float64
 10  Price_euros    1303 non-null   float64
 11  Cpu_Company    1303 non-null   object
 12  Memory_Amount  1303 non-null   int64
 13  Memory_Type    1303 non-null   object
 14  SSD            1303 non-null   int64
dtypes: float64(3), int64(3), object(9)
memory usage: 152.8+ KB

## Задача 3
Создайте датафрейм с клиентами:

clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

laptop_id - это индексы датафрейма с ноутбуками

3.1 Присоедините к таблице clients данные по ноутбукам через метод join

3.2 Присоедините к таблице clients данные по ноутбукам через метод merge

Это нужно, чтобы понимать, какие ноутбуки покупались клиентами

In [15]:
clients = pd.DataFrame({
    'client_id': [45, 32, 67, 33, 43],
    'laptop_id': [506, 398, 710, 120, 1999]
})

In [16]:
clients

   client_id  laptop_id
0         45        506
1         32        398
2         67        710
3         33        120
4         43       1999

In [17]:
clients = clients.set_index('laptop_id')
df = df.set_index('laptop_ID')
clients

           client_id
laptop_id
506               45
398               32
710               67
120               33
1999              43

In [18]:
join_cl = clients.join(df)
join_cl

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
laptop_id,,,,,,,,,,,,,,,
506,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
398,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
710,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
120,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,1280.0,SSD HDD,1.0
1999,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.loc[506] # laptop_ID

Company                              Lenovo
Product                       ThinkPad L570
TypeName                           Notebook
Inches                                 15.6
Cpu              Intel Core i5 7200U 2.5GHz
Ram                                     8GB
Gpu                   Intel HD Graphics 620
OpSys                            Windows 10
Weight                                  2.3
Price_euros                           911.0
Cpu_Company                           Intel
Memory_Amount                           256
Memory_Type                             SSD
SSD                                       1
Name: 506, dtype: object

In [28]:
join_cl_merge = clients.merge(df, left_on='laptop_id', right_on='laptop_ID', how='left')

In [24]:
join_cl_merge

,client_id,Company,Product,TypeName,Inches,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,Cpu_Company,Memory_Amount,Memory_Type,SSD
0,45,Lenovo,ThinkPad L570,Notebook,15.6,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,Windows 10,2.30,911.00,Intel,256.0,SSD,1.0
1,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67,Lenovo,IdeaPad 320-15ABR,Notebook,15.6,AMD A12-Series 9720P 3.6GHz,8GB,AMD Radeon R7,Windows 10,2.20,429.00,AMD,1024.0,HDD,0.0
3,33,Dell,Inspiron 7570,Notebook,15.6,Intel Core i7 8550U 1.8GHz,8GB,Nvidia GeForce 940MX,Windows 10,2.16,1130.33,Intel,1280.0,SSD HDD,1.0
4,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Задача 4
Составьте несколько сводных таблиц

4.1 Найдите среднюю стоимость ноутбуков в зависимости от компании производителя
Отсортируйте от меньшей стоимости к большей

4.2 Найдите минимальную, среднюю и максимальную стоимости ноутбуков в зависимости от производителя процессора

4.3 Постройте таблицу с подсчетом количества ноутбуков в данных в зависимости от производителя CPU и ОЗУ

4.4 Постройте таблицу с подсчетом средней стоимости ноутбуков в данных в зависимости от операционной системы и GB памяти

In [29]:
df.groupby('Company').agg({'Price_euros': 'mean'}).sort_values('Price_euros')

           Price_euros
Company
Vero        217.425000
Mediacom    295.000000
Chuwi       314.296667
Acer        626.775825
Fujitsu     729.000000
HP         1067.774854
Lenovo     1086.384444
Asus       1104.169367
Xiaomi     1133.462500
Dell       1186.068990
Toshiba    1267.812500
Samsung    1413.444444
Huawei     1424.000000
Apple      1564.198571
Microsoft  1612.308333
Google     1677.666667
MSI        1728.908148
LG         2099.000000
Razer      3346.142857

In [33]:
df.groupby('Cpu_Company').agg({'Price_euros': ['min','max','mean']})

            Price_euros
                    min     max         mean
Cpu_Company
AMD               199.0  2199.0   560.638871
Intel             174.0  6099.0  1152.214145
Samsung           659.0   659.0   659.000000

In [38]:
df.pivot_table(index='Cpu_Company',
               columns='Ram',
               values='OpSys',
               aggfunc='count',
              fill_value=0)

Ram          12GB  16GB  24GB  2GB  32GB  4GB  64GB  6GB  8GB
Cpu_Company
AMD             2     3     0    1     0   31     0   13   12
Intel          23   197     3   21    17  343     1   28  607
Samsung         0     0     0    0     0    1     0    0    0

In [41]:
df.pivot_table(index='OpSys',
               columns='Memory_Amount',
               values='Price_euros',
               aggfunc='mean',
              fill_value=0)

Memory_Amount,8,16,32,64,128,180,240,256,500,508,...,768,1024,1088,1152,1280,1536,2048,2176,2304,2560
OpSys,,,,,,,,,,,,,,,,,,,,,
Android,0,0.00,0.000000,434.000000,0.000000,0.0,0,0.000000,0.000000,0,...,0.00,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0
Chrome OS,0,305.38,412.454545,774.333333,1275.000000,0.0,0,1559.000000,0.000000,0,...,0.00,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0
Linux,0,0.00,0.000000,0.000000,490.500000,0.0,0,795.814000,389.056364,0,...,0.00,581.401290,0,994.000000,0.000000,0.000000,0.000000,0.00,1049.000000,0
Mac OS X,0,0.00,0.000000,0.000000,1099.000000,0.0,0,1311.994000,0.000000,0,...,0.00,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0
No OS,0,0.00,0.000000,0.000000,362.024000,0.0,0,754.834615,404.675385,0,...,0.00,540.539600,0,895.666667,1149.000000,0.000000,594.000000,0.00,0.000000,0
Windows 10,2249,0.00,270.001471,333.795556,673.385692,1073.5,3100,1214.518551,664.717647,0,...,1607.96,880.695661,1993,1285.464494,1878.083562,2549.750667,1058.201333,977.95,1590.015556,1849
Windows 10 S,0,0.00,0.000000,308.995000,1039.000000,0.0,0,1668.950000,0.000000,0,...,0.00,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0
Windows 7,0,0.00,0.000000,0.000000,1320.323333,1199.0,0,1846.466800,924.048333,1002,...,0.00,1539.666667,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0
macOS,0,0.00,0.000000,0.000000,1119.315000,0.0,0,1600.370000,0.000000,0,...,0.00,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0

In [44]:
df.groupby(['OpSys', 'Ram']).agg({'Price_euros': 'mean'}).unstack('Ram').fillna(0)

              Price_euros                                                     \
Ram                  12GB         16GB         24GB         2GB         32GB
OpSys
Android          0.000000     0.000000     0.000000    0.000000     0.000000
Chrome OS        0.000000  2199.000000     0.000000  234.333333     0.000000
Linux          949.000000   974.000000     0.000000    0.000000     0.000000
Mac OS X         0.000000  2139.970000     0.000000    0.000000     0.000000
No OS            0.000000  1265.316667     0.000000    0.000000     0.000000
Windows 10    1205.998261  1916.548315  2206.333333  257.534211  3413.085882
Windows 10 S     0.000000  2589.000000     0.000000    0.000000     0.000000
Windows 7     2299.000000  2840.400000     0.000000    0.000000     0.000000
macOS            0.000000  2611.806667     0.000000    0.000000     0.000000


Ram                   4GB    64GB         6GB          8GB
OpSys
Android        434.000000     0.0    0.000000     0.000000
Chrome OS      397.726316     0.0    0.000000  1122.000000
Linux          417.705625     0.0    0.000000   814.618148
Mac OS X       959.000000     0.0    0.000000  1167.333333
No OS          393.980625     0.0    0.000000   722.674516
Windows 10     604.317509  3975.0  615.206341  1190.119217
Windows 10 S   673.997500     0.0    0.000000  1668.950000
Windows 7     1036.020833     0.0    0.000000  1739.483704
macOS            0.000000     0.0    0.000000  1490.978000

## Задача 5
Ответьте на несколько вопросов, используя методы группировки

5.1 Ноутбуков каких компаний и с каким процессором больше?

5.2 С каким типом памяти и с каким объемом памяти больше ноутбуков?

In [48]:
pd.crosstab(index=df['Company'],
            columns=df['Cpu_Company']).idxmax()

Cpu_Company
AMD             HP
Intel         Dell
Samsung    Samsung
dtype: object

In [49]:
pd.crosstab(index=df['Memory_Type'],
            columns=df['Memory_Amount'])

Memory_Amount,8,16,32,64,128,180,240,256,500,508,...,768,1024,1088,1152,1280,1536,2048,2176,2304,2560
Memory_Type,,,,,,,,,,,,,,,,,,,,,
Flash Storage,0,7,38,15,4,0,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
Flash Storage HDD,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
HDD,0,0,1,0,1,0,0,0,132,0,...,0,224,0,0,0,0,16,0,0,0
HDD HDD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
Hybrid,0,0,0,0,0,0,0,0,0,1,...,0,9,0,0,0,0,0,0,0,0
SSD,1,3,6,1,76,5,1,412,0,0,...,0,14,0,0,0,0,0,0,0,0
SSD HDD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,94,73,14,2,2,10,3
SSD Hybrid,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
SSD SSD,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0